---
steps:
  - name: 'gcr.io/cloud-builders/gcloud'
    entrypoint: 'bash'
    args:
      - '-c'
      - |
        gcloud functions deploy ${PROJECT_ID}-consume-email-func \
          --entry-point=email_parser \
          --runtime=python37 \
          --trigger-http \
          --project=${PROJECT_ID} \
          --region=europe-west1 \
          --max-instances=1 \
          --timeout=540
        gcloud beta functions set-iam-policy ${PROJECT_ID}-consume-email-func \
          --region=europe-west1 \
          --project=${PROJECT_ID} ../../../config/${PROJECT_ID}/consume_func_permissions.json
    dir: 'functions/consume-email'
